.fm_class_box{
  float:left;width:20%;height:100%;background:none;
}

.fm_class_footer{
  float:left;height:100%;width:auto;text-align:center;cursor:pointer;padding:5px;border:1px solid lightgray;background:blue;
}
    .fm_class_footer img{
      height:auto;max-height:70%;
      float:none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
    .fm_class_footer span{
      font-size:12px; padding:0px; margin:0px; text-align:center;height:30%;width:100%;
    }

.cls_tbl{ cursor:pointer;overflow:auto;width:100%; }    
.cls_tbl:hover{ color:red; }  

.cls_fm_dtl{ width:100%;height:30px;padding:2px;font-size:16px;border:0px solid green; }
  .cls_fm_dtl div { float:left;width:25%;height:100%;text-align:left;padding:0px;background:none; }  
  .cls_fm_dtl input[type="image"] { float:right;font-size:16px;height:100%;padding:0px;margin-right:2px;border:1px solid gray;background:none; }  
  .cls_fm_dtl input[type="text"], .cls_fm_dtl input[type="number"], .cls_fm_dtl input[type="date"] { float:left;font-size:16px;width:75%;height:100%; background:none; }  
  .cls_fm_dtl p { float:left;font-size:20px;width:75%;height:100%;margin:0px;padding:2px;text-align:center;border:1px solid lightgray;background:none; }  
  .cls_fm_dtl select { float:left;font-size:16px;width:75%;height:100%;margin:0px;background:none; }  
   
@media screen and (max-width: 600px) {
  .cls_fm_dtl div { float:left;width:45%;height:100%;text-align:left;padding:0px;background:none; }  
  .cls_fm_dtl input[type="image"] { float:right;font-size:16px;height:100%;padding:0px;margin-right:2px;border:1px solid gray;background:none; }  
  .cls_fm_dtl input[type="text"], .cls_fm_dtl input[type="number"], .cls_fm_dtl input[type="date"] { float:left;font-size:16px;width:55%;height:100%; }  
  .cls_fm_dtl p { float:left;font-size:20px;width:55%;height:100%;margin:0px;padding:2px;text-align:center;border:1px solid lightgray;background:none; }  
  .cls_fm_dtl select { float:left;font-size:16px;width:75%;height:100%;margin:0px;background:none; }  
   
}  