body {  
  overscroll-behavior: contain;
  font-family: "Lato", sans-serif;
  
  min-height:100%;
  margin:0;
  padding:0; 
  
  background-color:black;
  font-family: Helvetica, 'Trebuchet MS', Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

#printableBorder{ margin-top:0px;width:100%;border:1px solid lightgray;overflow:auto; }
#printableArea{ height:auto;width:716px;width:750px;border:2px solid darkgray;
  margin:0 auto;margin-top:20px;margin-bottom:20px;
  font-family:Times New Roman, Times, serif;font-size:11px;padding:10px;
  background:white;
}
#pa_dtl{ height:100%;width:100%;border:0px solid red; }


/* *{transition:none!important} */

.slideX {          
  position: absolute;
  /*
  top:0px; left:0px;
  width: 100%;
  height: 100%;
  */
  left:50%; top:50%; transform: translateY(-50%) translateX(-50%);
}

@media print {
  h1 {font-family: "Britannic Bold", Broadway, Calibri, sans-serif;
  }  
  p {font-size:12pt;
  font-family:Cambria, "Times New Roman", serif;
  }    
  .positioned {position:static;}    
}
@page { margin: 1cm /* or 0, if you want */ }

@keyframes fade1
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 100px;
  font-size: 17px;

  width:80%;
  left:10%; right:10%;
  margin:0 auto;
  height:auto; 
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.class_notif{    
  display: none; 
  float:left;height:100%;width:40px;margin-left:0px;
  position:relative;font-size:14px;background:none;  
}
.class_notif2{
  position:absolute;top:0px;left:20%;height:21px;width:21px;text-align:center;background:none;
  border-radius:50%;padding:3.7px 0 0 0;font-weight:normal;font-size:9px;background:none;
  border:1.5px solid white;
}

.class_items{
  float:left;text-align:center;width:30.6%;height:125px;
  margin-top:2%;margin-left:2%;padding:2px;background-color:none;
}
.class_center_div{
  position:absolute; width:100%; height:100%; padding:1%;display: flex; align-items: center;
  justify-content: center;
}

.nav_title{
  width:100%;height:auto;font-size:18px;font-weight:bold;text-align:center;background:lightgray;
}

.nav_menu{
  height:40px;width:100%;background:none;padding:0px;margin-top:5px;
}
    .nav_menu img{  
      float:left;width:38px;height:100%;padding:2px;margin-left:20px;margin-right:20px;background:none;
    }
    .nav_menu span{
      float:left;width:auto;height:100%;padding:8px;background:none;
      font-size:18px;color:black;
    }

.modal_box {    
  width:99.8%;  
  z-index: 150;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
  
  transition: 0.5s;
  padding-top: 0px;    
  overflow: auto;
  opacity:1;
  
  position: absolute;
  height:0px;
  bottom: 50px;  
}
.bottom_box {	
  width:100%;
  z-index: 150;
  overflow-x: hidden;
  transition: 0.5s; 
  padding-top: 0px;    
   
  opacity:1;  
  position: absolute;  
  height:0px;
  bottom: 0px;
	background:white;
}



.rowclass{
  width:100%;height:auto;margin-top:0px;
  background-color: white;  
}

.rowclass_dots{
  width:100%;height:25px;margin-top:5px;
}
    .rowclasshed{  
      float:left;
      width:70%;height:100%;margin-top:0px;padding:4px;
      font-size:14px;font-weight:bold;
    }

    .dots{
      display:none;
      float:right;  
      width:auto;height:100%;margin-top:0px;padding:0px;  
      font-size:100%;font-weight:bold;
      background:none;  
    }



.show {display: block;}


/*************je_msg************************/
.je_msg_btn {
  background:lightgray;
  padding: 1em 2em;
  padding: 5px;
  width: 100px;
  height: 35px;
  color:black;
  border:1px solid black;
  border-radius: 6px;
  font-weight: bold;
}

.je_msg_btn:hover{
  background: #333;
  color:white;
}

.modal {
  display:none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content{
  background-color: #f4f4f4;  
  /* margin: 30% auto;  */
  width: 500px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);  

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-header h1, .modal-footer h2 {
  margin:0;
}
.modal-header{
  background: #3b5998;
  padding: 10px;
  color: #fff;  
}
.modal-body{
  padding: 10px 20px; 
}
.modal-footer{
  background: #3b5998;
  padding: 5px;
  color: #fff;
  height: 15px;
  font-size: 12px;
  text-align: center;
}

.closeBtn{
  color: #ccc;
  float:right;
  font-size: 20px; font-weight: bold;
  color:#fff;
}

.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor: pointer;
} 

/*************end je_msg************************/

.head_color,.head_color2{
  text-align:center;  
}

.xjheader {  
  background-color: #333;
  position: fixed;
  top: 0; left:0;
  width: 100%;
  z-index: 9000;
}

.cls_fixed {
  /*position: fixed; 
  left:0;bottom: 0; */
  color: white; 
  width: 100%;text-align:center;padding:4px;
  border:1px solid gray;
  /*z-index: 2500; */
}


.jheader {   
  font-size:16px;font-weight:bold;background-color:blue;
}

.main {  
  width:60%;
  padding:0 20px;
  background: blue;
}
.right {
  background-color:#e5e5e5;  
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

.jfooter { 
  padding:5px;
  z-index: 100;
  font-size:16px;font-weight:bold;
  background-color:none;
  position:absolute;
  bottom:0px; 
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
  color:black;
}

/* Create four equal columns */
.column {
  flex: 10%;
  padding: 10px;
  font-size:2vw;
  font-weight:normal;
  text-align:center;
}

.page_class{
  width:100%;  
}

.menu_class{
  width:100%;
}


.div_order_upload{
  width:100%;height:180px;
}
.div_order_comment{
  width:100%;height:100px;
}
.div_chat{
  width:100%;
  /* height:370px; */
}


.main_slider{
  width:70%;
}
.footer_fonts{
  float:left;height:100%;text-align:left;padding:7px 0 0 0;font-size:22px;cursor:pointer;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  /*-webkit-text-stroke: 0.8px black;*/
}
.footer_gfxs{
  float:left;height:100%;margin-left:20px;margin-right:20px;cursor: pointer;
}

.class_footer{
  float:left;height:100%;width:100%; font-family: Arial, Helvetica, sans-serif;background:none;      
}
    .class_footer img{
      float:left;height:auto;max-height:100%;width:auto;cursor:pointer;margin-left:20%;background:none;           
    }
    .class_footer span{
      float:left;height:100%;width:auto;cursor:pointer;padding:7px 0 0 10px;font-size:22px;background:none;
    }


img.center {display: block;margin-left: auto;margin-right: auto;}
.jcent {
  position: relative;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}


.myView {
  display:none;  
  z-index: 100;
  height: 100%;
  position:absolute;  
  scroll-behavior: smooth;
  /* transition: 0.5s;  */
  background-color: rgba(0,0,0,0.6);
}

.myView_dtl{
  width:100%;height:100px;padding:0px;overflow:auto;border:0px solid black;color:black;background:none;
}

.back_main{
  height:30px;width:100%;padding:4px;text-align:left;color:white;
  position: relative;border:0px solid white;
}

.back_class{
  float:left;height:100%;font-size:20px;background:none;font-weight:normal;
  width:100px;cursor:pointer;  
}
    .back_class img{
      float:left;background:none;margin-left:10px;background:none; 
    }
    .back_class span{
      float:left;margin-left:5px;color:white;
    }

.cap_class{
  float:right;width:auto;height:100%;font-size:16px;font-weight:bold;margin-right:10px;text-align:right;padding:2px;color:white;
}
.cap_mid_class{  
  display:block;
  float:left;width:auto;height:100%;font-size:16px;font-weight:normal;text-align:center;padding:2px;color:white;
}
#log_avatar { width:40px; }

.class_admin {
  width:60%;margin-left:20%;margin-right:20%;
}

.class_profile{
  width:100%;height:22px;font-size:14px;padding:2px;text-align:center;border:1px solid black;
  border-radius:5px;color:red;
}

#staff_name_width{ width:600px; }

.class_input{
  font-size:11px;color:red;padding:0px;border:1px solid black;background:none;
}

.cs_fm_site{ width:50%; color:white; padding:5px; border-radius:8px; border:2px solid white;}
  .cs_fm_site input { border:1px solid white;color:white;padding:2px;background:none; }

#inp_search{ width:500px; }
#div_slider { overflow-y: hidden; }

.cls_banner{
  width:100%;height:120px;
}

.cls_button_round{
  border:1px solid lightgray;
  border-radius: 5px;padding:0px;
  background:white;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:absolute;
  width:auto;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.cls_imgSlider {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateY(-50%) translateX(-50%);
}


.marker-cluster-small {
background-color: rgba(181, 226, 140, 0.6) !important;
}
.marker-cluster-small div {
background-color: rgba(110, 204, 57, 0.6) !important;
}
.marker-cluster-medium {
background-color: rgba(241, 211, 87, 0.6) !important;
}
.marker-cluster-medium div {
background-color: rgba(240, 194, 12, 0.6) !important;
}
.marker-cluster-large {
background-color: rgba(253, 156, 115, 0.6) !important;
}
.marker-cluster-large div {
background-color: rgba(241, 128, 23, 0.6) !important;
}


.user_custom_icon, .member_custom_icon, .searchIcon, .landmark_custom_icon{
  width: 42px !important;
  height: 41px !important;  
  padding:2px 0 0 0;
  
  text-align: center;  
  color: black;
  font-weight:bold; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.user_custom_icon{ 
  background-image: url("../main_jslib/images/jRedMarker.png"); background-repeat: no-repeat;  
  z-index:1000; color:white;
}
.searchIcon{  
  background-image: url("../main_jslib/images/jblueMarker.png"); background-repeat: no-repeat;    
  z-index:10;
}
.member_custom_icon{  
  background-image: url("../main_jslib/images/jblueMarker.png"); background-repeat: no-repeat;    
  z-index:10;
}
.landmark_custom_icon{      
  background-image: url("../main_jslib/images/jgreenMarker.png"); background-repeat: no-repeat;    
  color: black;
  z-index:10;
}

.geo{
  float:left;
  text-align: center;
  width:30px;
  height:100%;  
  margin-left:5px;
  font-size:12px;
}

#div_promo { 
  position:fixed;width:100%;height:100%;overflow:hidden;  
  background:white;  
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 12px;
  animation: 10s slidy infinite; 
}

.mirror{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.clsDiv{
    position:relative;
    float:left;text-align:center;border:0px solid black;
     height:100%;background:none;padding:1px;
}

.clsImg {    
    width:100%; height:70%; padding:0%;display: flex; align-items: center;
    justify-content: center;
    border:1px solid lightgray; margin-top:2%;border-radius:10px;    
    background:none;
}

.cl_viewItems{
  border:0px solid violet;
}

.cl_ibtn{
  width:100px;height:100%;border:1px solid black;color:white;background:darkgray;
}

.cl_sel_el{
  width:100%;height:17px;
}
  .cl_sel_el div{
    float:left;width:30%;height:100%;
  }
  .cl_sel_el input{
    float:left;width:70%;height:100%;margin:0px;padding:0px;
  }
  .cl_sel_el select{
    float:left;width:70%;height:100%;
  }
  /*
  .cl_sel_el input[type='number']{
    float:left;width:70%;height:100%;background:pink;
  }
  
  .cl_sel_el input[type='checkbox']{
    float:left;width:auto;height:100%;margin:0;background:violet;
  }
  */

  .class_mtr0{
    width:100%;height:45px;padding:5px;margin-top:0px;border:1px solid lightgray;
  }
    .class_mtr1{
      float:left;width:25%;height:100%;text-align:left;padding:8px 0 0 5px;background: none;
    }
    .class_mtr1_tf{
      font-size:16px; width:70px; padding:0px;
    }
    .class_mtr2{
      float:left;width:75%;height:100%;padding:5px 0 0 5px;overflow:auto;
      font-size:18; font-weight:bold;color:navy;
    }

  .class_ptr0{
    width:100%;height:50px;padding:5px;margin-top:0px;border:1px solid lightgray;
  }
    .class_ptr1{
      float:left;width:25%;height:100%;text-align:left;padding:8px 0 0 5px;background: none;
    }
    .class_ptr2{
      float:left;width:75%;height:100%;padding:8px 0 0 5px;overflow:auto;
      font-size:18; font-weight:bold;color:navy;
    }

    .class_ptr_1{
      float:left;width:15%;height:100%;padding:2px;overflow:auto;background: none;
    }
    .class_ptr_2{
      float:left;width:85%;height:100%;padding:2px;color:black;font-weight:bold; background: none;
    }


  
  #btns{
    width:auto;height:130px;height:200px;border:0px solid red;overflow:auto;background:none;
  }  
  .btn_box{
    width:100%;height:25%;padding:0px; font-size:11px;font-family: 'Lato', sans-serif; font-weight: bold;    
    border: 0px solid blue;  
  }
  
  .btn_image{
    float:left;height:87%;width:30.65%;border-radius: 10px;
    text-align: center; cursor:pointer;
    margin-top:0%;margin-left:2%;margin-bottom:1%;border: 0px solid black;
    padding: 5px;background:blue;
  }

  .btn_image2{
    float:left;height:110px;width:46%;border-radius: 10px;
    text-align: center; cursor:pointer;
    margin-top:10px;margin-left:2%;margin-bottom:1%;border: 0px solid black;
    padding: 5px;
  }
  .btn_image2 div { height:30%; max-height:50%; color:white; overflow:auto; }
  .btn_image2 input { height:70%; }

  .cls_cancel{
    font-size:50px;
  }
  
  #heeding1{font-size:20px;}
  #heeding2{font-size:16px;}
  #heeding3{font-size:12px;color:red;}



.cls_map_input { float:left;font-size:13px;width:100px;height:100%;margin-right:2%;text-align:center;border:0px solid green; }
  .cls_map_input input{
    width:100%;height:60%;overflow:auto;
  }
  .cls_map_input span{
    width:100%;height:40%;
  }

.zoom{  
  height:100vh;  
  width:100%;  
  display:grid;  
  place-items:center;  
  position:fixed;  
  top:0;  
  left:0;
}  
  
#FM_REFRESH_BTN { width:180px; }

.cls_fm_transfer{ width:100%;height:30px;padding:2px;font-size:16px;border:0px solid green; }
  .cls_fm_transfer div { float:left;width:25%;height:100%;text-align:left;padding:0px;background:none; }  
  .cls_fm_transfer input[type="image"] { float:right;font-size:16px;height:100%;padding:0px;margin-right:2px;border:1px solid gray;background:none; }  
  .cls_fm_transfer input[type="text"], .cls_fm_transfer input[type="number"], .cls_fm_transfer input[type="date"] { float:left;font-size:16px;width:75%;height:100%; background:green; }  
  .cls_fm_transfer p { float:left;font-size:20px;width:75%;height:100%;margin:0px;padding:2px;text-align:center;border:1px solid lightgray;background:none; }  
  .cls_fm_transfer select { float:left;font-size:16px;width:75%;height:100%;margin:0px;background:none; }  
 
#cap_transDate{ display: block; }
.btn_select{
  width:30px;height:100%;font-weight:bold;margin-right:0px;border-radius:5px;
}


#popadmin {    
  display:none;				
  width:100%;  
  font-size:20px;  
  box-shadow: 0px 0px 0px;
  position:absolute;width:100px;height:auto;top:50px;right:0;margin-right:10px;z-index:500;box-shadow: 0px 0px 2px;                                  
  font-size:14px;padding:5px;color:black;background-color: whitesmoke;
}

#popadmin a {
  padding: 2%;  
  width:96%;
  color:grey;
  transition: 0.3s;
  text-decoration: none;
  display: block;
}

#popadmin a:hover {
  color:white;  
  background-color:#333333;    
}

#zoom_pic { height:auto; }
#zoom_tilt { height:60px;font-size:22px; }
#xdivViewer { display:block; }
#xdivMeters { width:26%; }
#zoom_tilt2 { height:550px; }
#zoom_dtl { height:80px;font-size:16px; }
#zoom_foot { height:50px; }
.view_dtl_HD { height:20px; }
.view_dtl_L { width:20%; }
.view_dtl_R { width:80%; }


/* version 2 */
#dv_user {
  float:right;width:auto;height:100%;position:relative;
}
  #dv_user img{
    cursor: pointer;
    float:left;height:100%;padding:15px 0 15px 5px;background:none;
  }
  #dv_user span{
    float:left;font-size:12px;width:auto;
  }
#dv_log {
width:950px;height:430px;
}


#div_main_left{ width:80px; }
#id_LiveTime{ font-size:12px; }


/*
menu css layout
*/
.nw_menu, .nw_menu_sel{ height:50px;margin-top:20px; }

.nw_menu{
float:left;
width:100%;text-align:center;cursor:pointer;background:none;
}
.nw_menu img{
  height:65%;padding:0px;
}
.nw_menu span{
  float:left;height:35%;width:100%;font-size:12px;color:white;
  background:none;
}

.nw_menu_sel{
display:none;
float:left;padding:0px;width:15%;
background-image:url('gfx/leftArrow.png'); 
/* background-position: 0px 1px; */
background-size:100%;
background-repeat:no-repeat;
/*
height:100%;width:auto;
float:right;
font-size:20px;
*/  
}  

.dropbtn {
  display:none;
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px solid brown;
}

.dropdown {
  position: relative;
  display: inline-block;
  background:none;
  width:100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  border:1px solid gray;
  left:60px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  z-index:1000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover {background-color: #348fe2;}

.dropdown:hover .dropbtn {background-color: green;}

.sidenav {	  
  width:0%;
}
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
.dash_box{
  float:left;
  width:24.232%;
  height:100%;
  margin-left:1%;
  border:0px solid black;
  
  
  text-align:center;
  color:white;
  
}
  .dash_box div{ position:relative;height:30%;width:100%; border:0px solid red;}    
    .dash_box p{ height:100%; margin:0px; padding:1% 0 0 0; border:0px solid blue;font-size:65px;font-weight:bold;background:none; }    
    .dash_box h1{ position:absolute;bottom:0px;margin:0px;border:0px solid yellow;font-size:14px;height:30px; width:100%;font-weight:normal; padding:0% 0 0 0;background:rgba(0,0,0,0.2); }      
      .dash_box h1 b { position:absolute;left:0;font-size:14px;height:100%; width:100%;font-weight:normal;text-align:center;padding:6px 0 0 0;background:none; }
      .dash_box h1 div { position:absolute;right:0px;top:0px;border:0px solid brown;height:100%;width:auto;padding:1%;background:none; } 

  .dash_box h2{ border:0px solid pink;font-size:10px;height:3%; width:100%;margin:0%;font-weight:normal; padding:0px 0 0 0;background:none; }
  .dash_box h3{ border:1px solid lightgray;font-size:10px;height:67.0%; width:100%;margin:0%;font-weight:normal; 
    padding:0px;color:black;overflow:auto;background:whitesmoke;
  }
#lbl_expire{ height:100%; } 
/* /////////// BUILD 3.33 ///////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

#div_header{ display:block;height:60px;text-align:center;border:0px solid gray;padding:0px;color:black; }
#div_logo{ float:left;width:70px;height:100%;text-align:left;padding:4px;background:none; }
#hd_area{ border:0px solid red;width:40%; }  
#hd_user{ border:0px solid red;width:200px; font-size:15px; padding:2px; }  
#hd_datetime{ display:block;float:left;width:150px;height:100%;padding:0px;text-align:center; }  

#sys_tilt{ text-shadow: 1.5px 1.5px black;height:40%;width:100%;font-size:18px;font-weight:bold;padding:2px 0 0 0;color:#348fe2;background:none; }
#sys_tilt1{ height:30%;width:100%;font-size:12px;padding:0px 0 0 0;background:none; }
#sys_tilt2{ height:30%;width:100%;font-size:14px;font-weight:bold;padding:0px 0 0 0;background:none; }

#logger{ 
  text-align:right;font-weight:bold;font-size:16px;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:red;background:none;
  width:auto; padding:17px 0 0 0; 
}
  
#div_left{ width:100px; }

/* #id_expire{ height:83%;background:none; } 
#id_expire2{ height:17%;padding:1px;color:lightgray;font-size:10px;background:none; } */
#id_expire2{ position:absolute;width:100%;height:30px;left:0;top:21%;font-size:12px;padding:5px;border:0px solid gold; }
#menu_open{ display:none; }
#back_menu{ display:none; }
#hd_notif{ height:60px; margin: 0 auto; left: 0; right: 0; left:20%; }

.mySidenav { display:none; }
.cls_filemain { width:800px;margin:0 auto; }

.cls_ptr_tot_panel { float:left;width:auto;height:100%;background:none; }
  .cls_ptr_tot_panel div { float:left;width:auto;height:100%;text-align:left;padding:3px;background:none; }
  .cls_ptr_tot_panel input { float:left;width:auto;height:100%;text-align:center;padding:5px;color:black;background:lightgray; }

.cls_emp_entry{ width:100%;height:20px;margin-top:4px;border:0px solid lightgray;background:none; }
  .cls_emp_entry div { float:left;width:40%;height:100%;padding:2px 0 0 0;border:0px solid lightgray; }
  .cls_emp_entry input, textarea, select { float:left;width:60%;height:100%;border:1px solid lightgray; }

#img_emp { width:auto;height:100%; }