.pBox{
  color:pink;
}
.pBox p{
  color:black;
}

.cls_rcvd{
  float:left;text-align:left;height:100%;font-weight:bold;color:blue;border:1px solid lightgray;
}

.pBoxSubArea{ width:44%; background:violet; }

.cls_ptr_summ{
  height:30px;
}
  .cls_ptr_summ div{
    height:100%;width:50%;float:left;
  }
  .cls_ptr_summ input[type="text"] { width:28.5%; margin-left:1.5%;font-size:12px;cursor: pointer; }
  
.cls_prn{
  color:blue;
}

.cls_stockcard_vax{ height:100%;padding:5px;border:1px solid black;background:none; }
  .cls_stockcard_vax span{
    width:15%;background:none;
  }
  .cls_stockcard_vax input{
    width:85%;
  }
#div_stockcard{ 
  height: 35px; 
  margin-top:0px;width:100%;font-family:Arial Narrow,Arial,sans-serif;font-size:12px;padding:1px;border:1px solid black;background:none;
}

.cls_stockcard_range{ float:left;height:100%;width:150px;padding:2px;border:0px solid red; background:none;}
  .cls_stockcard_range span{
    float:left;height:100%;margin-right:2%;padding:3px 0 0 0;
    width:auto;background-color: none;
  }
  .cls_stockcard_range input{
    float:left;height:100%;text-align:left;margin:0px;
    width:auto;
  }

.cls_stockcard_date{ float:right;height:100%;text-align:right;padding:5px;margin-left:2%;border:0px solid gold; }
  .cls_stockcard_date span{
    float:left;height:100%;margin-right:5px;padding:3px 0 0 0;
    width:auto;
  }
  .cls_stockcard_date input{
    float:left;height:100%;text-align:left;margin:0px;
    width:auto;
  }


.cls_div_stkled{ float:left;width:50%;height:35px;padding:3px;border:1px solid black;background:none; }

.cls_stkled{ float:left;width:50%;height:100%;border:0px solid black;background:none; }

  .cls_stkled span{
    float:left;height:100%;margin-right:0%;padding:5px;font-size:14px;font-weight:bold;background:none;
    width:40%;
  }
  .cls_stkled input{
    float:left;height:100%;
    cursor:pointer;text-align:center;
    width:60%;overflow:auto;
  }
#xdiv_stkled{ height: 35px; }

#div_stk1{ border-right:0px; }
#div_stk2{ border-left:0px; }


